{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<header class="header header-half header-little">
    <div class="header__container container">
        {% include 'custom/navbar.html' %}
    </div>
</header>

<div class="container">
    <div class="info">
            <h3 class="procedure__subtitle">Доп информация:</h3>
            <a href="" class="procedure__points link info__text">1</a>
            <a href="" class="procedure__points link info__text">2</a>
            <a href="" class="procedure__points link info__text">3</a>
    </div>
</div>


{% endblock %}