{% extends 'custom/base.html' %}
{% load static %}
{% block title %}— Авторизация{% endblock %}

{% block content %}
    <header class="header header-half">
        <div class="header__container container">
            {% include 'custom/navbar.html' %}
        </div>
    </header>

    <section class="blog">
        <div class="registration__container container">
            <h2 class="registration__title animate__animated animate__fadeInUp animate__slow wow">Авторизация</h2>
            <div class="registration__form">
                <form action="" class="form animate__animated animate__fadeInUp animate__slow wow">
                    <input type="text" class="form__input reg__input " placeholder="Ваше имя">
                    <input type="password" class="form__input reg__input" placeholder="Пароль" required>
                    <a href="#" action="#" class="form__button link colorWhite">Войти</a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}