{% extends 'custom/base.html' %}
{% load static %}
{% block title %}Блог{% endblock %}

{% block content %}
<header class="header header-half">
    <div class="header__container container">

        <!-- Тут подключаю navbar из папки Cutsom-->
        {% include 'custom/navbar.html' %}

        <div class="header__title aboutHeader__title">
            <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
            <h1 class="title__text animate__animated animate__fadeInRight animate__slow wow">Наш блог</h1>
        </div>
<!--        <div class="blog__text">-->
<!--            <p class="blog__subtitle blog__subtitle-bigger colorWhite">Самое свежее</p>-->
<!--        </div>-->
<!--        <div class="blog__list padbot-100 animate__animated animate__fadeInUp animate__slow wow">-->
<!--            {% for b in fresh %}-->
<!--            <div class="blog__item">-->
<!--                <a href="{% url 'post' b.pk %}" class="service__img">-->
<!--                    <img src="{{ b.photo.url }}" alt="service" class="img grey-filter">-->
<!--                </a>-->
<!--                <p class="blog__category lightgrey">{{ b.category }}</p>-->
<!--                <a href="{% url 'post' b.pk %}" class="service__link link colorWhite">{{b.title}}</a>-->
<!--            </div>-->
<!--            {%endfor%}-->
<!--        </div>-->
    </div>
</header>

<section class="blog-white marbot-150">
    <div class="blog__container container martop-100">
        <div class="blog__categories">
            <p>Категории:</p>
            {% if cat == False %}
                <a href="?category=all" class="blog__category-top blog__category-top-active">Все</a> |
            {% else %}
                <a href="?category=all" class="blog__category-top lightgrey">Все</a> |
            {% endif %}
            {% for category in categories  %}
                {% if cat == category.title %}
                    <a href="?category={{category.title}}" class="blog__category-top blog__category-top-active">{{category.title}}</a> |
                {% else %}
                    <a href="?category={{category.title}}" class="blog__category-top lightgrey">{{category.title}}</a> |
                {% endif %}
            {% endfor %}
        </div>

        <div class="blog__list">
            {% for b in blogs %}
            <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                <a href="{% url 'post' b.id %}" class="service__img">
                    <img src="{{ b.photo.url }}" alt="service" class="img grey-filter">
                </a>
                <p class="blog__category lightgrey">{{ b.category }}</p>
                <a href="{% url 'post' b.id %}" class="service__link link">{{ b.title }}</a>
            </div>
{% endfor %}
        </div>

        <div class="blog__pagination pagination">
            {% if blogs.paginator.num_pages > 1 %}
                {% if blogs.has_previous %}
                    <a href="?page={{ blogs.previous_page_number }}" class="blog__category-top">&#129120;</a>
                {% endif %}

                {% for page_number in blogs.adjusted_elided_pages %}
                    {% if page_number == blogs.paginator.ELLIPSIS %}
                        <p  class=" blog__category-top lightgrey">{{page_number}}</p>
                    {% elif blogs.number == page_number %}
                        <a href="?page={{page_number}}" class=" blog__category-top blog__category-top-active">{{page_number}}</a>
                    {% else %}
                        <a href="?page={{page_number}}" class=" blog__category-top lightgrey">{{page_number}}</a>
                    {% endif %}
                {% endfor %}

                {% if blogs.has_next %}
                    <a href="?page={{ blogs.next_page_number }}" class="blog__category-top lightgrey">&#129122;</a>
                {% endif %}
            {% endif %}
        </div>

        <div class="blog__social social blog__social-noPadding">
            <h3 class="social__title darkGrey">Мы в социальных сетях</h3>
            <div class="social__list">
                <div class="social__item">
                    <a href="https://www.instagram.com/astramed_clinic_uzbekistan/">
                        <svg class="instagram__icon svg darkGreyFill">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                </div>
                <div class="social__item">
                    <a href="https://t.me/+998946651387">
                        <svg class="phone__icon svg ">
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>
                </div>
                <div class="social__item">
                    <a href="https://www.facebook.com/astramedclinic2021/">
                        <svg class="instagram__icon svg darkGreyFill">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="line"></div>
</div>

<section class="contacts">
    <div class="contacts__container container">
        <div class="contacts__form form animate__animated animate__fadeInLeft animate__slow wow">
            <h3 class="form__title">Оставьте свои контакты <br> и мы свяжемся с вами</h3>
            <form action="{% url 'thanks' %}" autocomplete="off" class="form" method="POST">
                {% csrf_token %}
            <input type="text" class="form__input" name="name" placeholder="Ваше имя">
            <input type="tel" class="form__input" name="phone" placeholder="Ваш номер телефона">
            <button type="submit" class="form__button link">Отправить</button>
            </form>
        </div>
        <div class="contacts__map animate__animated animate__fadeInRight animate__slow wow">
            <div class="map">
                <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6106813e0c623a09fa05d0f2461b66adbe20ec7c14f4051e32ecbde722440910&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"
                        alt="Map"></script>
            </div>
            <div class="map__text">
                <div class="map__info">
                    <svg class="location__icon svg">
                        <use xlink:href="#location"></use>
                    </svg>
                    улица Зохидова, 8Г, Яшнабадский район, Ташкент
                </div>
                <div class="map__info">
                    <svg class="phone__icon svg">
                        <use xlink:href="#phone"></use>
                    </svg>
                    <div class="map__info">
                        <a class="tel" href="tel: 555 013 663">555 013 663</a> /
                        <a class="tel" href="tel: 555 023 663">555 023 663</a>
                    </div>
                </div>
                <div class="map__info">
                    <svg class="phone__icon svg">
                        <use xlink:href="#telegram"></use>
                    </svg>
                    Telegram/sms: <a href="https://t.me/+998946651387">946 651 387</a>
                </div>
                <div class="map__info">
                    <svg class="phone__icon svg">
                        <use xlink:href="#time"></use>
                    </svg>
                    Пн-Сб: 9:00-21:00
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}