{% extends 'custom/base.html' %}
{% load static %}
{% block title %}Контакты{% endblock %}

{% block content %}
<header class="header header-half">
<div class="header__container container">

    <!-- Тут подключаю navbar из папки Cutsom-->
    {% include 'custom/navbar.html' %}

    <div class="header__title aboutHeader__title">
        <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
        <h1 class="title__text animate__animated animate__fadeInRight animate__slow wow">Контакты</h1>
    </div>
</div>
</header>

<section class="contacts marbot-150">
    <div class="blog__container container">
        <div class="blog__text marbot-50">
            <h3 class="title contacts__title animate__animated animate__fadeIn animate__slow wow">Мы в Ташкенте</h3>
        </div>
        {% for contact in contacts %}
        <div class="contacts__list">
            <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                <h5 class="blog__item-subtitle">Наш адрес</h5>
                <p class="contacts__text">{{contact.address}}</p>
            </div>
            <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                <h5 class="blog__item-subtitle">Контакты</h5>
                <p class="contacts__text">Номер телефона : <a class="tel" href="tel: {{contact.mainnumber}}">{{contact.mainnumber}}</a> /
                    <a class="tel" href="tel: {{contact.secondnumber}}">{{contact.secondnumber}}</a> <br>
                    Telegram/sms: <a href="https://t.me/+998{{contact.telegram}}">{{contact.telegram}}</a> <br>
                    Email: <a href="mailto: {{contact.email}}">{{contact.email}}</a></p>
            </div>
            <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                <h5 class="blog__item-subtitle">Время работы</h5>
                <p class="contacts__text">{{contact.worktime}}</p>
            </div>
            <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                <h5 class="blog__item-subtitle">Мы в социальных сетях</h5>
                <div class="social__list alignLeft">
                    {% for link in links %}
                    <div class="social__item">
                        <a href="{{link.links}}">
                            <svg class="phone__icon svg darkGreyFill">
                                 <use xlink:href="#{{link.title}}"></use>
                            </svg>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="blog__item fullRow animate__animated animate__fadeInUp animate__slow wow">
                <h5 class="blog__item-subtitle">Общественный транспорт</h5>
                <p class="contacts__text">{{ contact.transport }}</p>
            </div>
            <div class="blog__item fullRow animate__animated animate__fadeInUp animate__slow wow">
                <h5 class="blog__item-subtitle">Парковка</h5>
                <p class="contacts__text">{{ contact.parking }}</p>
            </div>
        </div>
    </div>

</section>

<div class="container">
    <div class="line"></div>
</div>

<section class="contacts">
    <div class="contacts__container container">
        <div class="contacts__form form animate__animated animate__fadeInLeft animate__slow wow">
            <h3 class="form__title">Оставьте свои контакты <br> и мы свяжемся с вами</h3>
            <input type="text" class="form__input" placeholder="Ваше имя">
            <input type="number" class="form__input" placeholder="Ваш номер телефона">
            <a href="#" action="#" class="form__button link">Отправить</a>
        </div>
        <div class="contacts__map animate__animated animate__fadeInRight animate__slow wow">
            <div class="map">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6106813e0c623a09fa05d0f2461b66adbe20ec7c14f4051e32ecbde722440910&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true" alt="Map"></script>
            </div>
            <div class="map__text">
                <div class="map__info">
                    <svg class="location__icon svg">
                        <use xlink:href="#location"></use>
                    </svg>
                    {{contact.address}}
                </div>
                <div class="map__info">
                    <svg class="phone__icon svg">
                        <use xlink:href="#phone"></use>
                    </svg>
                    <div class="map__info">
                        <a class="tel" href="tel: {{contact.mainnumber}}">{{contact.mainnumber}}3</a> /
                        <a class="tel" href="tel: {{contact.secondnumber}}">{{contact.secondnumber}}</a>
                    </div>
                </div>
                <div class="map__info">
                    <svg class="phone__icon svg">
                        <use xlink:href="#telegram"></use>
                    </svg>
                        Telegram/sms: <a href="https://t.me/+9989{{contact.telegram}}">{{contact.telegram}}</a>
                </div>
                <div class="map__info">
                    <svg class="phone__icon svg">
                        <use xlink:href="#time"></use>
                    </svg>
                    Пн-Сб: 9:00-21:00
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}