{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
{% for cooperationPage in cooperationPage %}

<header class="header header-half">
    <div class="header__container container">

        <!-- Тут подключаю navbar из папки Cutsom-->
        {% include 'custom/navbar.html' %}

        <div class="header__title aboutHeader__title">
            <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
            <h2 class="title__text animate__animated animate__fadeInRight animate__slow wow">{{ cooperationPage.CooperationTitle }}</h2>
        </div>
    </div>
</header>


<section class="blog blog-white marbot-100">
        <div class="blog__container container">
            <div class="AboutBlog__text">
                <h2 class="aboutPhilosophy__header martop-100 animate__animated animate__fadeInLeft animate__slow wow">{{ cooperationPage.CooperationPageTitle }}</h2>
                <p class="blog__subtitle marbot-50 animate__animated animate__fadeInLeft animate__slow wow">{{ cooperationPage.CooperationSubtitle }}</p>
                <div class="partners__list">
                    {% for partner in partners %}
                    <div class="partners__item {{ partner.color }}">
                        <a href="{{ partner.url }}"> {{ partner.title }} </a>
                    </div>
                    {%endfor%}
                </div>
            </div>

            <!-- Эта страница ведет на страницу похожую на страницу оставления отзыва -->
            <a href="{% url 'partner' %}" class="link marbot-100 priceList__link animate__animated animate__fadeInUp animate__slow wow">Стать партнером</a>

            <div class="AboutBlog__text">
                <p class="service__link black animate__animated animate__fadeInLeft animate__slow wow">Вакансии</p>
                <div class="blog__list">
                    <!-- При нажатии на вакансию попадаешь на страницу похожую на запись на приём, только + поле отправки файла, что бы отправлять резюме -->
                    {% for job in jobs %}
                    <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                        <a href="{% url 'jobOffer' job.title %}" class=""job.title %}" class="service__img">
                            <img src="{{ job.photo.url }}" alt="service" class="img">
                        </a>
                        <a href="{% url 'jobOffer' job.title %}" class="service__link link">{{job.title}}</a>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </section>

{% endfor %}
{% endblock %}