{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<header class="header header-half header-little">
    <div class="header__container container">
        {% include 'custom/navbar.html' %}
    </div>
</header>

<div class="container">
    <div class="info">
        {% for info in current_info %}
        <h3 class="procedure__subtitle">{{info.title}}</h3>
         <p class="procedure__text animate__animated animate__fadeInLeft animate__slow wow">
            {{info.description}}
         </p>
        {%endfor%}
    </div>
</div>


{% endblock %}