{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<header class="header header-half">
    <div class="header__container container">
        {% include 'custom/navbar.html' %}
    </div>
</header>

<section class="blog">
    <div class="registration__container container">
        <h2 class="registration__title animate__animated animate__fadeInDown animate__slow wow">Подача заявления</h2>
        <div class="registration__form animate__animated animate__fadeInUp animate__slow wow">
            <form action="{% url 'thanks' %}" autocomplete="off" class="form" method="POST">
                {% csrf_token %}
                <input type="text" name="LFname" autocomplete="disabled" class="form__input reg__input" placeholder="ФИО">
                <input type="tel" required name="number" autocomplete="disabled" class="form__input reg__input" placeholder="Телефон">

                <input type="text" name="address" autocomplete="disabled" class="form__input reg__input" placeholder="Адрес проживания">
                {% for job in jobs %}
                <input type="text" name="therapy" autocomplete="disabled" class="form__input reg__input" readonly value="{{job.title}}">
                {%endfor%}
                <button type="submit" class="form__button link colorWhite">Записаться</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}