{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<header class="header header-half">
    <div class="header__container container">
        {% include 'custom/navbar.html' %}
    </div>
</header>

<section class="blog">
    <div class="registration__container container">
        {% for job in jobs %}
        <h2 class="registration__title animate__animated animate__fadeInDown animate__slow wow">Подача заявления на вакансию {{job.title}}</h2>
        <div class="registration__form animate__animated animate__fadeInUp animate__slow wow">
            <form action="{% url 'thanks' %}" autocomplete="off" class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="therapy" autocomplete="disabled" class="form__input reg__input" style="display: none;" readonly value="{{job.title}}">
                <input type="text" required name="LFname" autocomplete="disabled" class="form__input reg__input"
                       placeholder="ФИО">
                <input type="tel" required name="number" autocomplete="disabled" class="form__input reg__input" placeholder="Телефон">
                <input type="text" name="address" autocomplete="disabled" class="form__input reg__input" placeholder="Адрес проживания">
                <div class="reg__input reg__input-file">
                    <p>Прикрепите резюме</p>
                    <input type="file" required name="resume" autocomplete="disabled" class="form__input form__input-file"
                           placeholder="Резюме">
                </div>
                <button type="submit" class="form__button link colorWhite">Подать заявку</button>
            </form>
        </div>
        {%endfor%}
    </div>
</section>
{% endblock %}