{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<header class="header header-half">
    <div class="header__container container">

        <!-- Тут подключаю navbar из папки Cutsom-->
        {% include 'custom/navbar.html' %}

        <div class="header__title aboutHeader__title">
            <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
            <h1 class="title__text animate__animated animate__fadeInRight animate__slow wow">Наша команда</h1>
        </div>
    </div>
    </header>

<section class="blog-white marbot-150">
        <div class="member__container container">
            {% for employee in employes %}
            <div class="member__info animate__animated animate__fadeInLeft animate__slow wow">
                <img src="{{ employee.photo.url }}" alt="" class="member__img img">
                <div class="member__quote">
                    <p class="quote__text-top">Вдохновляющая цитата:</p>
                    <p class="quote__text">{{employee.quote}}</p>
                </div>
            </div>
            <div class="member__content animate__animated animate__fadeInRight animate__slow wow">
                <h3 class="member__subtitle">{{employee.name}}
                </h3>
                <span>{{employee.title}}</span>
                <p class="member__text">{{employee.description}}</p>
                <a href="{% url 'order' employee.pk %}" class="member__link link">Записаться на консультацию</a>
            </div>

        </div>
    </section>

<section class="blog">
    <div class="allreviews__container container memberReview__container">
        <form method="POST" action="{% url 'member' employee.name %}" class="review__form form animate__animated animate__fadeInUp animate__slow wow">
            {% csrf_token %}
            <h4 class="review__subtitle review__subtitle_member">Оставить отзыв</h4>
            <input type="text" name="name" class="form__input reg__input " placeholder="Ваше имя">
            <textarea class="form__input reg__input" name="description" id="" cols="30" rows="5" placeholder="Текст"></textarea>
            <input type="text" name="doctor" autocomplete="disabled" class="form__input reg__input" style="display:none" value="{{employee.name}}">
            <button type="submit" class="form__button link colorWhite">Оставить отзыв</button>
        </form>
        {%endfor%}
        <div class="member__review">
            <h4 class="review__subtitle">Все отзывы</h4>
            {% for review in review_list %}
            <div class="review animate__animated animate__fadeInRight animate__slow wow">
                <h5 class="review__text bolder-700 colorWhite">{{review.name}}</h5>
                <p class="review__text">{{review.description}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}