{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<header class="header header-half">
    <div class="header__container container">

        <!-- Тут подключаю navbar из папки Cutsom-->
        {% include 'custom/navbar.html' %}

        <div class="header__title aboutHeader__title">
            <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
            <h1 class="title__text animate__animated animate__fadeInRight animate__slow wow">Наша команда</h1>
        </div>
    </div>
    </header>


<section class="blog-white marbot-150">
        <div class="member__container container">
            {% for employee in employes %}
            <div class="member__info animate__animated animate__fadeInLeft animate__slow wow">
                <img src="{{ employee.photo.url }}" alt="" class="member__img img">
                <div class="member__quote">
                    <p class="quote__text">{{employee.quote}}</p>
                </div>
            </div>
            <div class="member__content animate__animated animate__fadeInRight animate__slow wow">
                <h3 class="member__subtitle">{{employee.name}}
                </h3>
                <span>{{employee.title}}</span>
                <p class="member__text">{{employee.description}}</p>
                <a href="authorization.html" class="member__link link">Записаться на консультацию</a>
            </div>
            {%endfor%}
        </div>
    </section>
{% endblock %}