 {% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<header class="header header-half">
    <div class="header__container container">
        {% include 'custom/navbar.html' %}
    </div>
</header>

<section class="blog">
    <div class="registration__container container">
        <h2 class="registration__title animate__animated animate__fadeInDown animate__slow wow">Запись</h2>
        <div class="registration__form animate__animated animate__fadeInUp animate__slow wow">
            <form action="{% url 'thanks' %}" autocomplete="off" class="form" method="POST">
                {% csrf_token %}
                <input type="text" name="LFname" autocomplete="disabled" class="form__input reg__input" placeholder="ФИО">
                <div class="reg__input reg__input-file">
                    <p>Год рождения</p>
                    <input type="date" min="1950-01-01" max="2024-12-31" name="birth" autocomplete="disabled" class="form__input reg__input" placeholder="Год рождения">
                </div>
                <div class="reg__input reg__input-file">
                    <p>Забронировать дату</p>
                    <input type="date" min="2022-01-01" name="date" autocomplete="disabled" class="form__input reg__input" placeholder="Забронировать дату">
                    <p>Забронировать время</p>
                    <input type="time" min="09:00" max="21:00" name="date" autocomplete="disabled" class="form__input reg__input" placeholder="Забронировать время">
                </div>
                <input type="text" name="address" autocomplete="disabled" class="form__input reg__input" placeholder="Адрес проживания">
                {% if not member %}
                    {% for service in services %}
                    <input type="text" name="therapy" autocomplete="disabled" class="form__input reg__input" readonly value="{{service}}">
                    {%endfor%}
                {% endif %}
                <input type="tel" required name="number" autocomplete="disabled" class="form__input reg__input" placeholder="Телефон">
                {% if member %}
                <input type="tel" required name="doctor" autocomplete="disabled" class="form__input reg__input" placeholder="Врач" style="display:none" value="{{member}}">
                {% endif %}
                <button type="submit" class="form__button link colorWhite">Записаться</button>
                </datalist>
            </form>
        </div>
    </div>
</section>
{% endblock %}