{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<header class="header header-half">
    <div class="header__container container">

        <!-- Тут подключаю navbar из папки Cutsom-->
        {% include 'custom/navbar.html' %}

        <div class="header__title aboutHeader__title">
            <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
            <h2 class="title__text animate__animated animate__fadeInRight animate__slow wow">Здесь будет заголовок <br>
                поста</h2>
        </div>
    </div>
</header>

<section class="post">
    <div class="post__container container">
        {% for blog in blogs %}
        <div class="post__img animate__animated animate__fadeInLeft animate__slow wow">
            <img src="{{ blog.photo.url }}" alt="" class="img">
        </div>
        <div class="post__content animate__animated animate__fadeInRight animate__slow wow">
            <h3 class="post__title">{{ blog.title }}</h3>
            <p class="post__info">
                Опубликовано: <span class="lighter-300">{{ blog.date }}</span> <br>
                Автор: <span class="lighter-300">{{ blog.author }}</span>
            </p>
            <p class="post__text">{{ blog.description }}</p>
        </div>
        {%endfor%}
    </div>
</section>

<section class="blog blog-white marbot-100">
    <div class="blog__container container">
        <div class="AboutBlog__text">
            <p class="service__link black animate__animated animate__fadeInLeft animate__slow wow">Возможно вам будет
                интересно</p>
        </div>
        <div class="blog__list animate__animated animate__fadeInUp animate__slow wow">

            {% for blog in recomended_blogs %}
            <div class="blog__item">
                <a href="{% url 'post' blog.title %}" class="service__img">
                    <img src="{{ blog.photo.url }}" alt="service" class="img">
                </a>
                <a href="{% url 'post' blog.title %}" class="service__link link">{{ blog.title }}</a>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
{% endblock %}