{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}


<header class="header header-half">
    <div class="header__container container">

        <!-- Тут подключаю navbar из папки Cutsom-->
        {% include 'custom/navbar.html' %}

        <div class="header__title aboutHeader__title">
            <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
            <h2 class="title__text animate__animated animate__fadeInRight animate__slow wow">Прайс лист</h2>
        </div>
    </div>
</header>


<section class="blog blog-white marbot-100 martop-100">
    <div class="blog__container container pdf__container">
        {% for p in price %}
        <iframe src="{{ p.url }}#toolbar=0" width="100%" height="700" type="application/pdf"></iframe>
        {% endfor %}
    </div>
</section>


{% endblock %}
