{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
{% for s in services %}
<header class="header header-half">
<div class="header__container container">
    {% include 'custom/navbar.html' %}
    <div class="header__title aboutHeader__title">
        <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
        <h1 class="title__text animate__animated animate__fadeInRight animate__slow wow">{{ s.undertype }}</h1>
    </div>
</div>
</header>

<section class="blog blog-white marbot-150">
    <div class="procedure__container container">
        <div class="procedure__button">
            <a href="{% url 'registration' %}" class="procedure__link service__link link">{{ s.buttonname }}</a>
        </div>
        <div class="procedure__content">
            <h3 class="procedure__subtitle colorOrange bolder-700">{{ s.undertype }}</h3>
            <h3 class="procedure__subtitle marbot-50">приём ведет: {{ s.doctor }}</h3>
            <p class="procedure__text animate__animated animate__fadeInLeft animate__slow wow">
                {{ s.title|safe }}
            </p>
        </div>
    </div>

</section>

<section class="blog marbot-150">
    <div class="procedure__container container">
        <div class="procedure__button__bottom">
            <a href="{% url 'registration' %}" class="procedure__link service__link link">{{ s.buttonname }}</a>
        </div>
    </div>
</section>

<section class="blog blog-white marbot-100">
    <div class="blog__container container animate__animated animate__fadeInUp animate__slow wow">
        <div class="AboutBlog__text">
            <a href="{% url 'services' %}" class="blog__title link">Другие услуги</a>
        </div>
        <div class="blog__list">
            {% for service in recomended_services %}
            <div class="blog__item">
                <a href="{% url 'therapy' service.pk %}" class="service__img">
                    <img src="{{ service.photo.url }}" alt="service" class="img grey-filter">
                </a>
                <a href="{% url 'therapy' service.pk %}" class="service__link link">{{ service.type }}</a>
            </div>
            {%endfor%}

        </div>
    </div>
</section>

{% endfor %}
{% endblock %}
