{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<header class="header header-half">
<div class="header__container container">

    <!-- Тут подключаю navbar из папки Cutsom-->
    {% include 'custom/navbar.html' %}

    <div class="header__title aboutHeader__title">
        <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
        <h1 class="title__text animate__animated animate__fadeInRight animate__slow wow">Привет, Анатолий</h1>
    </div>
</div>
</header>

<section class="blog blog-white">
    <div class="profile__container container animate__animated animate__fadeInLeft animate__slow wow">
        <h3 class="profile__title marbot-50">Это ваш личный профиль, в котором хранится информация о вас и ваших визитах клиники</h3>
        <div class="profile__info">
            <h5 class="profile__subtitle bolder-700">Ваша информация</h5>
            <h6 class="profile__subtitle marbot-50">Владилен Анатолий Васильевич</h6>
            <p class="profile__text">
                <span class="profile__text bolder-600">Адрес: </span>Улица Никулина 37а
            </p>
            <p class="profile__text">
                <span class="profile__text bolder-600">Телефон: </span>+998 93 122 15 71
            </p>
            <p class="profile__text">
                <span class="profile__text bolder-600">Email: </span>zolotojznak@gmail.com
            </p>
        </div>
    </div>
</section>

<section class="blog">
    <div class="profile__container container">
        <h4 class="review__subtitle animate__animated animate__fadeInUp animate__slow wow">История ваших визитов</h4>
        <div class="review animate__animated animate__fadeInRight animate__slow wow">
            <h5 class="review__text bolder-700 colorWhite">11 мая 2022 год</h5>
            <p class="profile__text">
                <span>Терапия: </span><a href="{% url 'therapy' %}" class="profile__text lightgrey lighter-300">Физиотерапия</a>
            </p>
            <p class="profile__text">
                <span>Врач: </span><a href="member.html" class="profile__text lightgrey lighter-300">Наталья Владимировна</a>
            </p>
            <p class="profile__text">
                <span>Заключение: </span><span>Врачи-терапевты лечат все распространенные заболевания и направляют пациентов в больницы и другие медицинские службы для срочного и специализированного лечения. Они уделяют внимание здоровью всего человека, сочетая физические, психологические и социальные аспекты ухода.</span>
            </p>
        </div>
        <div class="review animate__animated animate__fadeInLeft animate__slow wow">
            <h5 class="review__text bolder-700 colorWhite">11 мая 2022 год</h5>
            <p class="profile__text">
                <span>Терапия: </span><a href="therapy.html" class="profile__text lightgrey lighter-300">Физиотерапия</a>
            </p>
            <p class="profile__text">
                <span>Врач: </span><a href="member.html" class="profile__text lightgrey lighter-300">Наталья Владимировна</a>
            </p>
            <p class="profile__text">
                <span>Заключение: </span><span>Врачи-терапевты лечат все распространенные заболевания и направляют пациентов в больницы и другие медицинские службы для срочного и специализированного лечения. Они уделяют внимание здоровью всего человека, сочетая физические, психологические и социальные аспекты ухода.</span>
            </p>
        </div>
        <div class="review animate__animated animate__fadeInRight animate__slow wow">
            <h5 class="review__text bolder-700 colorWhite">11 мая 2022 год</h5>
            <p class="profile__text">
                <span>Терапия: </span><a href="therapy.html" class="profile__text lightgrey lighter-300">Физиотерапия</a>
            </p>
            <p class="profile__text">
                <span>Врач: </span><a href="member.html" class="profile__text lightgrey lighter-300">Наталья Владимировна</a>
            </p>
            <p class="profile__text">
                <span>Заключение: </span><span class="lightgrey lighter-300">Врачи-терапевты лечат все распространенные заболевания и направляют пациентов в больницы и другие медицинские службы для срочного и специализированного лечения. Они уделяют внимание здоровью всего человека, сочетая физические, психологические и социальные аспекты ухода.</span>
            </p>
        </div>
    </div>
</section>

<section class="blog blog-white marbot-100">
    <div class="blog__container container animate__animated animate__fadeInUp animate__slow wow">
        <div class="blog__text AboutBlog__text">
            <a href="services.html" class="blog__title link">Другие услуги</a>
        </div>
        <div class="blog__list">
            {% for service in recomended_services %}
            <div class="blog__item">
                <a href="{% url 'procedure' service.id %}" class="service__img">
                    <img src="{{ service.photo.url }}" alt="service" class="img">
                </a>
                <a href="{% url 'therapy' %}" class="service__link link">{{ service.type }}</a>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
{% endblock %}