{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<header class="header header-half">
<div class="header__container container">

    <!-- Тут подключаю navbar из папки Cutsom-->
    {% include 'custom/navbar.html' %}

</div>
</header>

<section class="blog">
    <div class="registration__container container">
        <h2 class="registration__title animate__animated animate__fadeInDown animate__slow wow">Регистрация</h2>
        <div class="registration__form animate__animated animate__fadeInUp animate__slow wow">
            <form action="" class="form">
                <input type="text" class="form__input reg__input" placeholder="Телефон">
                <input type="text" class="form__input reg__input" placeholder="Имя">
                <input type="text" class="form__input reg__input" placeholder="Фамилия">
                <input type="password" class="form__input reg__input" placeholder="Пароль" required>
                <input type="password" class="form__input reg__input" placeholder="Повторите пароль" required>
                <a href="#" action="#" class="form__button link colorWhite">Зарегистрироваться</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}