{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
    <header class="header header-half">
        <div class="header__container container">

            {% include 'custom/navbar.html' %}

            <div class="header__title aboutHeader__title">
                <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
                <h1 class="title__text animate__animated animate__fadeInRight animate__slow wow">Наши услуги</h1>
            </div>
        </div>
    </header>

    <section class="blog blog-white marbot-150">
        <div class="blog__container container">
            <div class="blog__text">
                <p class="blog__subtitle animate__animated animate__fadeInLeft animate__slow wow">Our service В нашем блоге мы публикуем последние новости, полезные статьи и просто рассказываем о жизни клиники =)</p>
            </div>
            <div class="blog__list">

                <!-- Тут код генерации услуг -->
                {% for service in services %}
                <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="{% url 'procedure' service.type %}" class="service__img">
                        <img src="{{ service.photo.url }}" alt="service" class="img">
                    </a>
                    <a href="{% url 'procedure' service.type %}" class="service__link link">{{service.type}}</a>
                </div>
                {%endfor%}



                <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="{% static 'img/service/massage.png' %}" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Контурная пластика лица</a>
                </div>
                <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="{% static 'img/service/massage.png' %}" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Физиотерапия</a>
                </div>
                <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="{% static 'img/service/massage.png' %}" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Массаж</a>
                </div>
                <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="{% static 'img/service/massage.png' %}" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Контурная пластика лица</a>
                </div>
                <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="{% static 'img/service/massage.png' %}" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Физиотерапия</a>
                </div>
                <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="{% static 'img/service/massage.png' %}" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Массаж</a>
                </div>
                <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="{% static 'img/service/massage.png' %}" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Контурная пластика лица</a>
                </div>
                <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="{% static 'img/service/massage.png' %}" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Физиотерапия</a>
                </div>
                <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="{% static 'img/service/massage.png' %}" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Массаж</a>
                </div>

            </div>
        </div>
    </section>

    <section class="faceToFace">
        <div class="faceToFace__container container">
            <div class="faceToFace__text animate__animated animate__fadeInLeft animate__slow wow">
                <h2 class="faceToFace__title title">Лицом к лицу всегда лучше</h2>
                <p class="faceToFace__subtitle">Мы знаем, что мир медицины может пугать. Наши врачи всегда рады провести с вами время. Запишитесь на консультацию, и мы вместе обсудим ваши мысли, беспокойства и вопросы.</p>
                <a href="{% url 'registration' %}" class="faceToFace__link link">Записаться на консультацию</a>
            </div>
        </div>
    </section>

    <section class="contacts">
        <div class="contacts__container container">
            <div class="contacts__form form animate__animated animate__fadeInLeft animate__slow wow">
                <h3 class="form__title">Оставьте свои контакты <br> и мы свяжемся с вами</h3>
                <input type="text" class="form__input" placeholder="Ваше имя">
                <input type="text" class="form__input" placeholder="Ваш номер телефона">
                <a href="#" action="#" class="form__button link">Отправить</a>
            </div>
            <div class="contacts__map animate__animated animate__fadeInRight animate__slow wow">
                <div class="map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6106813e0c623a09fa05d0f2461b66adbe20ec7c14f4051e32ecbde722440910&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true" alt="Map"></script>
                </div>
                <div class="map__text">
                    <div class="map__info">
                        <svg class="location__icon svg">
                            <use xlink:href="#location"></use>
                        </svg>
                        улица Зохидова, 8Г, Яшнабадский район, Ташкент
                    </div>
                    <div class="map__info">
                        <svg class="phone__icon svg">
                            <use xlink:href="#phone"></use>
                        </svg>
                        <div class="map__info-tel">
                            <a class="tel" href="tel: 555 013 663">555 013 663</a> /
                            <a class="tel" href="tel: 555 023 663">555 023 663</a>
                        </div>
                    </div>
                    <div class="map__info">
                        <svg class="phone__icon svg">
                            <use xlink:href="#telegram"></use>
                        </svg>
                            Telegram/sms: <a href="https://t.me/+998946651387">946 651 387</a>
                    </div>
                    <div class="map__info">
                        <svg class="phone__icon svg">
                            <use xlink:href="#time"></use>
                        </svg>
                        Пн-Сб: 9:00-21:00
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}