{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
{% for s in services %}
<header class="header header-half">
    <div class="header__container container">
        {% include 'custom/navbar.html' %}
        <div class="header__title aboutHeader__title">
            <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
            <h1 class="title__text animate__animated animate__fadeInRight animate__slow wow">{{ s.type }}</h1>
        </div>
    </div>
</header>

<section class="blog blog-white marbot-150">
    <div class="procedure__container container">
        <div class="procedure__button">
            <a href="{% url 'order' %}" class="procedure__link service__link link">{{ s.buttonname }}</a>
        </div>
        <div class="procedure__content">
            <h3 class="procedure__subtitle colorOrange bolder-700">{{ s.type }}</h3>
            <h3 class="procedure__subtitle marbot-50">приём ведет: {{ s.doctor }}</h3>
            <p class="procedure__text animate__animated animate__fadeInLeft animate__slow wow">
                {{ s.title|safe }}
            </p>
            <br><br>
        </div>
    </div>
</section>

<section class="blog marbot-150">
    <div class="procedure__container container">

        <div class="procedure__result">
            <h2 class="feedback__title colorWhite marbot-50">До и после</h2>
            <div class="procedure__result-img">
                <img src="img/therapy/1.jpg" alt="before" class="img animate__animated animate__fadeInLeft animate__slow wow">
                <img src="img/therapy/2.jpg" alt="after" class="img animate__animated animate__fadeInRight animate__slow wow">
            </div>
        </div>

        <div class="procedure__button__bottom">
            <a href="registration.html" class="procedure__link service__link link">Записаться на прием</a>
        </div>
    </div>
</section>

<section class="underservice">
    <div class="underservice__container container">
        {% if underServices %}
        <h3 class="procedure__subtitle">Подробнее об:</h3>
        <div class="blog__list">
            {% for underservice in underServices %}
            <div class="blog__item animate__animated animate__fadeInUp animate__slow wow">
                <a href="{% url 'procedure' underservice.id %}" class="service__img">
                    <img src="{{ underservice.photo.url }}" alt="service" class="img grey-filter">
                </a>
                <a href="{% url 'procedure' underservice.id %}"
                   class="service__link link">{{underservice.undertype}}</a>
            </div>
            {%endfor%}
        </div>
        {% endif %}
    </div>
</section>


<section class="blog blog-white marbot-100">
    <div class="blog__container container animate__animated animate__fadeInUp animate__slow wow">
        <div class="AboutBlog__text">
            <a href="{% url 'services' %}" class="blog__title link">Другие услуги</a>
        </div>
        <div class="blog__list">
            {% for service in recomended_services %}
            <div class="blog__item">
                <a href="{% url 'procedure' service.id %}" class="service__img">
                    <img src="{{ service.photo.url }}" alt="service" class="img grey-filter">
                </a>
                <a href="{% url 'therapy' service.id %}" class="service__link link">{{ service.type }}</a>
            </div>
            {%endfor%}
        </div>
    </div>
</section>

{% endfor %}
{% endblock %}
