{% extends 'custom/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
    <header class="header header-half">
        <div class="header__container container">

            <!-- Тут подключаю navbar из папки Cutsom-->
            {% include 'custom/navbar.html' %}

            <div class="header__title aboutHeader__title">
                <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="halfheader__img img">
                <h1 class="title__text animate__animated animate__fadeInRight animate__slow wow">Физиотерапия</h1>
            </div>
        </div>
        </header>

    <section class="blog blog-white marbot-150">
        <div class="procedure__container container">
            <div class="procedure__button">
                <a href="{% url 'registration' %}" class="procedure__link service__link link">Записаться на прием</a>
            </div>
            <div class="procedure__content review animate__animated animate__fadeInLeft animate__slow wow">
                <h3 class="procedure__subtitle colorOrange bolder-700">Мануальная физиотерапия</h3>
                <p class="procedure__text">
                    – Мануальная терапия по методу Мезьер <br>
                    – Массаж <br>
                    – Кинезиотейпирование <br>
                </p>
                <br><br>
                <h3 class="procedure__subtitle colorOrange bolder-700"> Аппаратная физиотерапия</h3>
                <p class="procedure__text">
                    – Ультразвуковая терапия <br>
                    – Магнитотерапия <br>
                    – Электротерапия <br>
                    – Прессотерапия <br>
                    – Ультравысокочастотная терапия <br>
                    – Ударно-волновая терапия <br>
                    – TR-терапия <br>
                    – Лазерная терапия <br>
                </p>
            </div>
        </div>

    </section>

    <section class="blog marbot-150">
        <div class="procedure__container container">
            <div class="procedure__result">
                <h2 class="feedback__title colorWhite marbot-50">До и после</h2>
                <div class="procedure__result-img">
                    <img src="{% static 'img/therapy/1.jpg' %}" alt="before" class="img animate__animated animate__fadeInLeft animate__slow wow">
                    <img src="{% static 'img/therapy/2.jpg' %}" alt="after" class="img animate__animated animate__fadeInRight animate__slow wow">
                </div>
            </div>
            <div class="procedure__button__bottom">
                <a href="{% url 'registration' %}" class="procedure__link service__link link">Записаться на прием</a>
            </div>
        </div>
    </section>


{% endblock %}