{% load static %}
<footer class="footer">
        <div class="footer__container container">
            <nav class="footer__nav">
                <a href="/" class="header__logo logo header__logo-footer">
                    <img src="img/logo.svg" alt="Astramed" class="logo__img img">
                    <p class="logo__text">Astramed <br> <span>центр заботы о себе</span></p>
                </a>
                <ul class="menu__list-footer">
                    <li class="menu__item">
                        <a href="{% url 'about' %}">О клинике</a>
                    </li>
                    <li class="menu__item">
                        <a href="{% url 'services' %}">Услуги</a>
                    </li>
                    <li class="menu__item">
                        <a href="{% url 'blog' %}">Блог</a>
                    </li>
                    <li class="menu__item">
                        <a href="{% url 'contacts' %}">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="blog__social social blog__social-footer">
                <h3 class="social__title social__title-footer">Мы в социальных сетях</h3>
                <div class="social__list social__list-footer">
                    <div class="social__item">
                        <a href="https://www.instagram.com/astramed_clinic_uzbekistan/">
                            <svg class="instagram__icon svg">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="social__item">
                        <a href="https://t.me/+998946651387" class="whiteStroke">
                            <svg class="instagram__icon svg">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="social__item">
                        <a href="https://www.facebook.com/astramedclinic2021/">
                            <svg class="instagram__icon svg">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="map__text footer__text">
                <div class="map__info map__info-footer">
                    <svg class="location__icon svg location__icon-footer">
                        <use xlink:href="#location"></use>
                    </svg>
                    улица Зохидова, 8Г, <br> Яшнабадский район, Ташкент</div>
                <div class="map__info map__info-footer">
                    <svg class="phone__icon svg phone__icon-footer">
                        <use xlink:href="#phone"></use>
                    </svg>
                    <div class="map__info_footer menu__item colorWhite">
                        <a href="tel: 555 013 663">555 013 663</a> /
                        <a href="tel: 555 023 663">555 023 663</a>
                    </div>
                </div>
                <div class="map__info map__info-footer">
                    <svg class="phone__icon svg phone__icon-footer">
                        <use xlink:href="#telegram"></use>
                    </svg>
                    <div class="map__info_footer menu__item colorWhite">
                        Telegram/sms: <a href="https://t.me/+998946651387">946 651 387</a>
                    </div>
                </div>
                <div class="map__info map__info-footer">
                    <svg class="phone__icon svg phone__icon-footer">
                        <use xlink:href="#time"></use>
                    </svg>
                    Пн-Сб: 9:00-21:00
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="copyrighy__container container">
                <p class="copyrighy__asyramed">© Astramed 2022</p>
                <a href="https://kingdesignn.ru/" class="created__kingdesignn">Created by KingDesignn studio</a>
            </div>
        </div>
    </footer>