{% load static %}

<nav class="header__nav">
    <a href="/" class="header__logo logo">
        <img src="{% static 'img/logo.svg' %}" alt="Astramed" class="logo__img img">
        <p class="logo__text">Astramed <br> <span>центр заботы о себе</span></p>
    </a>
    <div class="header__body menu">
        <ul class="menu__list" id="menu__list">
            <li class="menu__item">
                <a href="{% url 'about' %}" class="header__link header__link">О клинике</a>
            </li>
            <li class="menu__item">
                <a href="{% url 'services' %}" class="header__link">Услуги</a>
                <span class="menu__arrow arrow"></span>
                <ul class="sub-menu__list">
                    {% for service in menuservices %}
                     <li class="menu__item">
                        <a href="{% url 'therapy' service.pk %}" class="header__link sub-menu__link">{{ service.type }}</a>
                        {% for us in menuunderServices %}
                        {% if us.maintype == service %}
                             <span class="menu__arrow arrow"></span>
                        {% endif %}
                        {% endfor %}
                             <ul class="sub-sub-menu__list">
                                 {% for us in menuunderServices %}
                                    {% if us.maintype == service %}
                                    <span class="menu__arrow arrow"></span>
                                         <li class="menu__item">
                                            <a href="{% url 'procedure' us.pk  %}" class="header__link sub-sub-menu__link">{{ us.undertype }}</a>
                                         </li>
                                     {% endif %}
                                {% endfor %}
                             </ul>
                     </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="menu__item">
                <a href="{% url 'blog' %}" class="header__link">Блог</a>
                <span class="menu__arrow arrow"></span>
                 <ul class="sub-menu__list">
                     {% for bc in blog_categories %}
                     <li class="menu__item">
                        <a href="{% url 'blog' %}?category={{bc.title}}" class="header__link sub-menu__link">{{ bc.title }}</a>
                     </li>
                     {% endfor %}
                </ul>
            </li>
            <li class="menu__item">
                <a href="{% url 'contacts' %}" class="header__link">Контакты</a>
            </li>
            <li class="menu__item">
                <a href="{% url 'cooperation' %}" class="header__link">Сотрудничество</a>
            </li>
        </ul>
<!--        <ul class="menu__icons">-->
<!--            <li class="menu__icon menu__icon-search">-->
                <div class="search">
                    <svg class="search__icon svg">
                        <use xlink:href="#search"></use>
                    </svg>
                    <form action="{% url 'search' %}" class="search__input" method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Поиск..." id="mysearch" name="searched">
                    </form>
                </div>
<!--            </li>-->
<!--            <li class="menu__icon menu__profile">-->
<!--                <a href="{% url 'profile' %}" class="profile">-->
<!--                    <svg class="profile__icon svg">-->
<!--                        <use xlink:href="#profile"></use>-->
<!--                    </svg>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="menu__icon">-->
<!--                <a href="" class="language">RU</a>-->
<!--            </li>-->
<!--        </ul>-->
    </div>
    <div class="menu__burger">
        <span></span>
    </div>
</nav>
