{% load static %}
<section class="service">
        <div class="service__container container">
            <div class="service__top">
                <h2 class="service__title title">Территория осознанного отношения к себе</h2>
                <p class="service__subtitle">Добавьте себе осознанности сегодня и улучшите свое здоровье, постоянно отслеживая свои физические и психические ощущения.</p>
                <img src="img/bg_logo.svg" alt="Astramed" class="service__logo">
            </div>
            <div class="service__list">
                <div class="service__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="img/service/massage.png" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Неврология</a>
                </div>
                <div class="service__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="therapy.html" class="service__img">
                        <img src="img/service/massage.png" alt="service" class="img">
                    </a>
                    <a href="therapy.html" class="service__link link">Физиотерапия</a>
                </div>
                <div class="service__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="img/service/massage.png" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Дерматология</a>
                </div>
                <div class="service__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="img/service/massage.png" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Общая терапия</a>
                </div>
                <div class="service__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="img/service/massage.png" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Урология</a>
                </div>
                <div class="service__item animate__animated animate__fadeInUp animate__slow wow">
                    <a href="procedure.html" class="service__img">
                        <img src="img/service/massage.png" alt="service" class="img">
                    </a>
                    <a href="procedure.html" class="service__link link">Дермато-косметология</a>
                </div>
            </div>
            <div class="service__bottom">
                <p class="service__text animate__animated animate__fadeIn animate__slow wow">Регулярные медицинские осмотры должны стать обычным делом, поскольку, получая правильные медицинские услуги, обследования и лечение, вы делаете важные шаги к тому, чтобы жить более долгой и здоровой жизнью.</p>
                <a href="services.html" class="service__bottom_link link animate__animated animate__fadeIn animate__slow wow">Посмотреть все услуги</a>
            </div>
        </div>
        <div class="service__black"></div>
    </section>